.container {    
    &>.header {
        display: grid;
        grid-template-columns: 1fr 36px;
        cursor: pointer;

        &>.expand {
            display: grid;
            place-self: center end;
            width: 36px;
            height: 36px;
            fill: var(--text-primary);
            transform: rotateZ(0deg);
            transition: transform 250ms;

            &.open {
                transform: rotateZ(180deg);
            }
        }
    }
}
