main.container {
    display: grid;
    grid-template-columns: 350px min-content 1fr;
    height: 100vh;
    width: 100vw;

    background-color: var(--bg-secondary);

    transition: background-color 250ms;
}

