.container {
    padding: 80px 0px 0px;
    overflow-y: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

    &>.source {
        margin: 20px;
        padding: 25px 20px 25px 25px;
        border-radius: 8px;
        background-color: var(--card-bg);
        transition: background-color 250ms, filter 250ms;
        
        &.selected {
            background-color: var(--card-bg-active);
        }

        &:hover {
            filter: brightness(1.2);
        }
    }

    & h2 {
        font-size: 1.2em;
        font-weight: bold;
        margin: 0;
        color: var(--accent);
        text-transform: uppercase;
        line-height: 1.2em;
    }

    & ul {
        margin: 0;
    }
    & hr {
        border: 2px solid #00000022;
        border-radius: 2px;
    }

    & a {
        display: grid;
        place-content: center start;
        text-decoration: none;
        transition: color 250ms;

        & .item {
            text-decoration: none;
            font-size: 1.2em;
            color: grey;
            font-family: 'Source Sans Pro';

            &:hover {
                color: var(--text-primary);
            }
        }
    }
}
