.container {
    overflow: auto;
    min-width: 20vw;
    width: 50vw;
    max-width: 70vw;
    resize: horizontal;

    background-color: var(--bg-primary);
    padding: 80px 40px;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    ::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #FF0000;
    }
}
