.container {
    overflow: auto;
    min-width: 20vw;
    width: 650px;
    max-width: 70vw;
    resize: horizontal;

    background-color: var(--bg-primary);
    padding: 80px 40px;

    transition: background-color 250ms;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }
    p {
        font-family: 'Nunito', sans-serif;
        margin: 20px 0px;
        line-height: 1.8em;
    }
}
